<h2>Campaign Name: <%=@campaign.campaign_name %></h2>

<h4>Receiver Phone Number: <%=@campaign.phone_number_receiver %></h4>
<h4>Start Date: <%=@campaign.start_date %></h4>
<h4>End Date: <%=@campaign.end_date %></h4>
<h4>Start Time: <%=@campaign.start_time %></h4>
<h4>Sms Message: <%=@campaign.sms_msg %></h4>